.navbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--espacamento-navbar);
    position: sticky;
    top: 0px;
    z-index: 1000;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.navlinks {
    display: flex;
}
.navlinks li {
    padding-left: var(--espacamento-medio);
}
