* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: auto;
    width: 100vw;
    font-family: Arial, sans-serif;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    height: 18px;
    width: 18px;
    margin: 5px;
}

.conteudo {
    height: 40px;
    width: 80%;
    max-width: 800px;
    display: flex;
    align-items: center;
    background-color: #442726;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    border: 1px solid #212121;
}