* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body {
	height: auto;
	width: 100vw;
	font-family: Arial, sans-serif;
	background-color: #000000;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.navbar {
	height: 60px;
	width: 100%;
	background-color: #101010;
	color: #ffffff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	position: sticky;
	top: 0;
	z-index: 1000;
}
.logocontainer {
	display: flex;
	align-items: center;
}
.logo {
	height: 40px;
	width: 40px;
	border-radius: 2000px;
}
.logotext {
    	font-size: 15px;
    	color: #ffffff;
    	margin-left: 10px;
}
.nav-links {
	list-style: none;
	display: flex;
}
.nav-links li {
	margin-left: 20px;
}
.nav-links a {
	text-decoration: none;
	color: #ffffff;
	transition: color 0.3s;
	font-size: 12px;
}
.nav-links a:hover {
	color: #e3c394;
	/*color: #ff9800;*/
}
.cabecalho {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.title {
	color: #ffffff;
	font-weight: bold;
	font-family: sans-serif;
	font-size: 32px;
	margin-top: 40px;
	margin-bottom: 40px;
}
.titlemain {
	color: #ffffff;
	font-size: 42px;
	text-align: center;
	font-weight: bold;
	margin-top: 200px;
	margin-bottom: 250px;
}
.title2 {
	color: #ffffff;
	font-size: 25px;
	margin-bottom: 10px;
}
.text {
	color: #ffffff;
	font-size: 12px;
}
.principal {
	width: 85%;
	display: flex;
	flex-direction: column; 
}
.cards {
	height: 410px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 20px;
}
.iconscards {
	position: relative;
	z-index: 1;
	height: 50px;
	width: 50px;
	margin-bottom: 15px;
}
.docs {
	height: 180px;
	width: 380px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-image:
	linear-gradient(#2121214D, #2121214D),
	url("../assets/backgrounds/back1.jpg");
	background-size: cover;
	background-position: center;
	border-radius: 12px;
	margin: 10px;
	transition: height 0.5s ease, width 0.5s ease;
}
.docs:hover {
	height: 190px;
	width: 390px;
}
.projects {
	height: 180px;
	width: 380px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image:
        linear-gradient(#2121214D, #2121214D),
        url("../assets/backgrounds/back2.jpg");
        background-size: cover;
        background-position: center;
        border-radius: 12px;
        margin: 10px;
        transition: height 0.5s ease, width 0.5s ease;
}
.projects:hover {
        height: 190px;
        width: 390px;
}
.button {
	height: 180px;
	width: 380px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #101010;
	margin: 10px;
	border-radius: 12px;
	transition: background-color 0.5s;
}
.button:hover {
	background-color: #e3c394;
}
.icons {
	height: 20px;
	width: 20px;
	margin-bottom: 6px;
}
.links {
	text-decoration: none;
	color: #ffffff;
	font-size: 25px;
}
.rodape {
	height: 300px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #101010;
}
.rodapetext {
	color: #ffffff;
	font-size: 7px; 
}
