body {
    background-color: var(--cor-fundo-primaria)
}
.navbar {
    width: 100%;
    height: 60px;
    background: var(--cor-fundo-secundaria);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10px 25px 10px;
    position: sticky;
    top: 0px;
    z-index: 1000;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}
.logotext {
    font-weight: 400;
    /*define o tipo da fonte*/
	font-style: normal;
    /*tamanho da fonte*/
	font-size: 17px;
    /*cor da fonte*/
	color: var(--cor-texto);
}
.navlinks {
    display: flex;
}

.navlinks li {
    margin-left: 20px;
}
