.navbar {
	height: 60px;
	width: 100%;
	background-color: #ffffff4d;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 25px 25px;
	position: sticky;
	top: 0px;
	z-index:1000;
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);
}

.logotext {
	font-weight: bold;
}

.navlinks {
	display: flex;
	list-style: none;
}

.navlinks a {
	margin-left: 20px;
	text-decoration: none;
	color: #000000;
	font-size: 12px;
}

.navlinks a:hover {
	color: #707070;
}

body > *:not(nav) {
	background-color: #ffffff;
	padding: 0px 35px;
}

.top {
	background-color: #212121;
	height: 400px;
	width: 100vw;
	display: flex;
	align-items: center;
}

.top h1 {
	color: #ffffff;
}

.card {
	height: 222px;
	background-color: #f5f6f5;
	margin-top: 20px;
	border-radius: 12px;
	border: #C9C9C9 solid 1px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.card img {
	width: 60px;
}

.final {
	height: 150px;
	background-color: #212121;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.final p {
	color: #ffffff;
	font-size: 10px;
}
