* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    height: 450px;
    width: 700px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #00000026;
    border-radius: 9px;
}
