* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body {
	background: #212121;
}
.navbar {
	height: 60px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #151515;
	padding-left: 10px;
	padding-right: 10px;
}
.navbar h1{
	color: #ffffff;
}
.navlinks {
	display: flex;
}
.navlinks li {
	list-style: none;
	margin-left: 10px;
}
.navlinks a {
	text-decoration: none;
	color: white;
}
main {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 0px 20px 0px 20px;
}
.card {
	height: 400px;
	width: 100%;
	background: #313131;
	border: solid 1px #454545;
	border-radius: 12px;
	position: relative;
	display: flex;
}
.minicard1 {
	height: 80px;
	width: 80px;
	background: red;
	position: absolute;
	left: 120px;
	top: 125px;
	border-radius: 10px;
}
.minicard2 {
	height: 80px;
	width: 80px;
	background: blue;
	position: absolute;
	left: 140px;
	top: 150px;
	border-radius: 10px;
}
.minicard3 {
	height: 80px;
	width: 80px;
	background: orange;
	position: absolute;
	left: 160px;
	top: 175px;
	border-radius: 10px;

}
.title1 {
	color: white;
	margin-bottom: 17px;
}
.title2 {
	color: white;
	margin-bottom: 12px;
}
.text1 {
	color: white;
	margin-bottom: 8px;
}
