* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    widht: 100%;
    background: #212121;
}

.top {
    background: #555555;
}

.top .title {
    color: #ffffff;
    font-size: 23px;
}